 body {
background-color: rgb(244, 130, 172);
    background-repeat: no-repeat;
    background-size:contain;
 }
 
 
 h1{
    color: rgba(8, 0, 0, 0.852);
    background-color: rgb(255, 255, 255);
    text-align: center;
    text-size-adjust: initialS;
    font-size: larger;
    

}
p{
    color: aliceblue;
    text-align: center;
}




div{

    align-items: center;
}



 h2{
    color: rgba(0, 221, 255, 0.852);
    background-color: rgb(255, 119, 0);
    text-align: center;
  
}

 h3{
    color: rgba(0, 221, 255, 0.852);
    background-color: rgb(255, 119, 0);
    text-align: center;
  
}



header{
    color: rgba(0, 221, 255, 0.852);
    background-color: rgb(255, 119, 0);
    text-align: center;
    
}

.menu{

    color: rgba(0, 221, 255, 0.852);
    
}